
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  background: #40838F;
}

#welcome{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background: #fff;
}

.my-navbar {
  font-family: 'Roboto Slab', serif;
  background-color: #0A1D29;
  border-color: #0A1D29;
}

.my-navbar .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.my-navbar .navbar-brand:hover {
  color: #97BFB6;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #97BFB6;
}
